<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Comments count
        </th>

        <th>
          Image
        </th>

        <th>
          Likes count
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= a_photo.image %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
